.scrolltable{
    overflow-y: scroll;
    height: 50%;
}

.headingstyle{
    font-size: 16px !important;
    padding-top: 10px !important;
}

.menuheadstyle{
    padding-left: 10px;
    font-size: 15px;
    color: #2f363d;
}

.paddingicon{
    padding-left: 7px;

}

.linesstyle{
    border-left: 1px solid black;
    /*position: absolute;*/
}