.enth-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #9467de;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.52);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.enth-menu a {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #cdcdcd;
    padding: 25px 8px 8px 32px;
    text-decoration: none;
    color: #dcd2ed;
    display: block;
    transition: 0.3s;
}
.enth-menu .enth-menu-close-menu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.eth-overlay-Menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.eth-menu-header {
    background: #259630;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    border: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
    padding: calc(15px + 4px);
    min-height: calc(33px + 29px);
    font-size: 22px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}