

/*Added by Mahiruddin Seikh on date: 28/08/2015*/
.input_column{
    width: 70px;
}

.column_style{
    width: 70px;
    border: solid #000000 2px;
    text-align: center;
    padding: 0 !important;
}

.row_style {
    border: solid #000000 2px;

}

.hath{
    cursor: pointer;
}

/*hr {*/
    /*display: block;*/
    /*height: 1px;*/
    /*border: 0;*/
    /*border-top: 1px solid blue;*/
    /*margin: 1em 0;*/
    /*padding: 0;*/
/*}*/

/*added for customize alert*/
.customMSGbox_overlay{
    width:100%; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 999998
}
.customMSGbox{
    width: 300px; border: 5px solid #428BCA; position: fixed; left: 50%; top:50%; margin-left: -150px; margin-top: -100px; background: #ffffff; z-index: 999999; padding: 0px; padding-bottom: 60px; -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 12px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 12px 0px rgba(50, 50, 50, 0.75);

}
.customMSGbox .msgcontent{
    padding: 10px;  text-align: center;
}
.customMSGbox .msgbtn{
    border-top:1px solid #428BCA; padding: 10px; margin: 0px; position: absolute; bottom: 0px; width: 100% ; text-align: center;
}
.customMSGbox .msgbtn button {
    margin-right: 10px;
    background: #428BCA;
    padding: 6px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/*Added by Mahiruddin Seikh for omiting scrollin input type='number' field*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tatble_style{
    /*border: solid #000000;*/
    width: 477px;
    height: 175px;
    margin-left: 11%;
}

.textboxstyle{
    width: 108px;
}

.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.dravitbl{
    padding: 0 !important;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-center: 1px solid #000000;
    border-right: 1px solid #000000
}

.lensaviblty{
    padding: 0 !important;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}




body { margin:0px; padding:0px; width:100%;
}
*{box-sizing:border-box;}
img { max-width:100%;}

.pc {
    /*margin: 0 auto;*/
    /*background:#4682B4;*/

    width:500px;
    height:300px;}

.pcimg { float:left; width:35%; height:70%;padding:5%; }
.pccontainer { float:left; width:50%; height:90%; margin:5% 0;
}

@media all and (max-width:600px) {
    .pc {
        width: 100%;
        heigt: 70%;
    }
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/load-indicator.gif') 50% 50% no-repeat rgb(249,249,249);
}

.paddingwell{
    padding-left: 8px;

}


#ui_notifIt{
    position: fixed;
    /*top: 10px;*/
    z-index: 999999;
    right: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#ui_notifIt p{
    text-align: center;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

/* Color setup */
/* Configure this if you want */
.success{
    background-color: yellowgreen;
    color: white;
    top:10px !important;
}
.error{
    background-color: orangered;
    color: white;
}
.warning{
    background-color: orange;
    color: white;
}
.info{
    background-color: deepskyblue;
    color: white;
}
.default{
    background-color: #EEE;
    color: #444;
}

#table-wrapper {
    position:relative;
}
#table-scroll {
    height:150px;
    overflow:auto;
    margin-top:20px;
}
#table-wrapper table {
    width:100%;

}
#table-wrapper table * {
    background:yellow;
    color:black;
}
#table-wrapper table thead th .text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
}

.print_button{
    margin-top: 10px;
    background: #428bca;
    color: white;
    border: white;
}

.listb {
    border-bottom: 1px solid #D6D6D6;
    padding: 10px;
    background: white;
}

/*css for the print page*/

.preshrview {
    border: 2px solid green;
    margin: 15px 0px;
}

.textboxwidth{
    width:50px
}

.fontsizestyle{
    font-size: 11px !important;
}

.my_class{
    width:10% !important;
}

/*.dataTables_filter {*/
    /*float: left;*/
    /*text-align: right;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
/*}*/

/*label {*/
    /*display: inline-block;*/
    /*max-width: 100%;*/
    /*margin-bottom: 5px;*/
    /*font-weight: bold;*/
    /*position: absolute;*/
    /*left: 0px;*/
/*}*/

table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 0px;
}

.searchpositioning label{
    float:right;
    content: "search";
}

.modalstyle{
    border: 1px solid black;
    background-color: rgb(153, 153, 255);
    padding: 25px;
    font-size: 150%;
    text-align: center;
    display: block;
    position: absolute;
    visibility: visible;
    /*top: 1829.5px;*/
    left: 524px;
    z-index: 108;
}

.notify{
    position: absolute;
    top: 3px;
    right: 1px;
    width: 28%;
    z-index: 105;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #60b544;
    padding: 9px;
}
/* newly added css for search_list */

tfoot input {

    width: 100%;
    padding: 3px;
    display: table-header-group;
    box-sizing: border-box;
}
/*tfoot {*/
    /*display: table-header-group;*/
/*}*/

.widthstyle{
    width: 8%;
}
/*table.dataTable tbody th, table.dataTable tbody td {*/
    /*padding: 4px 0px !important;*/
/*}*/